.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Open Sans";
  background-repeat: no-repeat;
  background-image: url("./Images/background_scale_1x.jpeg");
  background-size: cover;
}

@media (min-width: 666px) {
  .App {
    background-image: url("./Images/background_scale_2x.jpeg");
  }
}

.header-image {
  height: 100%;
  max-height: 180px;
  width: 100%;
  top: 0;
  background-image: url("./Images/top_image_scale_1x.png");
  position: absolute;
  background-repeat: cover;
}

@media (min-width: 1024px) {
  .header-image {
    background-image: url("./Images/top_image_scale_2x.png");
    max-height: 370px;
  }
}
